@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, #root > main { 
  height: 100%;
  width: 100%;
}

body {
  background-color: #FAF8ED;
}

@layer components {
  .btn {
    padding: .7rem 2rem;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
  }
}